In [8]:
import pandas as pd
import numpy as np


from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64